body {
   transition: all ease 1s;
   overflow: hidden;
}

.menu__burger {
   display: block;
   position: absolute;
   right: 0;
   top: 0;
   overflow: hidden;
   width: 96px;
   height: 96px;
   font-size: 0;
   cursor: pointer;
}
.menu__burger {
   background: #cb0032;
}
.menu__burger span {
   display: block;
   position: absolute;
   top: 44px;
   left: 18px;
   right: 18px;
   height: 8px;
   background-color: white;
}
.menu__burger span::before,
.menu__burger span::after {
   content: "";
   display: block;
   position: absolute;
   left: 0;
   width: 100%;
   height: 8px;
   background-color: white;
}
.menu__burger span::before {
   top: -20px;
}
.menu__burger span::after {
   bottom: -20px;
}
.menu__burger_line span {
   transition: background 0s 0.3s;
}
.menu__burger_line span::before,
.menu__burger_line span::after {
   transition-duration: 0.3s, 0.3s;
   transition-delay: 0.3s, 0s;
}
.menu__burger_line span::before {
   transition-property: top, transform;
}
.menu__burger_line span::after {
   transition-property: bottom, transform;
}
.menu__burger_line.is-active {
   background: green;
}
.menu__burger_line.is-active span {
   background: none;
}
.menu__burger_line.is-active span::before {
   top: 0;
   transform: rotate(-45deg);
}
.menu__burger_line.is-active span::after {
   bottom: 0;
   transform: rotate(45deg);
}
.menu__burger_line.is-active span::before,
.menu__burger_line.is-active span::after {
   transition-delay: 0s, 0.3s;
}

.menu {
   width: 300px;
   margin-left: -204px;
   background-color: #fbf0ff;
   position: fixed;
   left: 0;
   top: 0;
   bottom: 0;
   transition: all ease 1s;
   z-index: 1000;
}

.body-active {
   margin-left: 300px;
}

.menu.nav-active {
   margin-left: 0;
}

.container {
   width: 80%;
   max-width: 100%;
   margin: 30px auto;
   text-align: center;
}